@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped m-table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                AnnualSalary
            </th>
        </tr>
    </thead>
    <tbody>

    
        <tr>
            <td>
               1
            </td>
            <td>
              2
            </td>
            <td>
              3
            </td>
        </tr>

    </tbody>
</table>
