@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped m-table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                AnnualSalary
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.Employees)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.AnnualSalary
            </td>
        </tr>
        }

    </tbody>
</table>
