@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped m-table">
    <thead>
        <tr>
            <th>
                Nombre Area
            </th>
            <th>
                Precio Base
            </th>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.Employees)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
        }

    </tbody>
</table>
